.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  
}

.wrapper {
  display: grid;
}

.header {
  margin: 0 auto;
}

.category-div {
  background-color: rgba(0, 0, 0, 0.062);
  padding: 15px;
  border-radius: 6px;
}

.category-header {
  background-color: rgba(0, 0, 0, 0.185);
  padding: 3px 6px;
}

.form {
  padding: 30px;
  margin: 0 auto;
}